.skip{
  position: absolute;
  left: -400px;
  top: -200px;
}

nav{
  padding: 2%;
  background-color: ivory;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

li a{
  color: black;
  text-decoration: none;
}

body{
  background-color: antiquewhite;
  background-image: url('../images/background-pattern.jpg');
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 3%;
}

main{
  padding: 2%;
}

h1{
  font-size: xx-large;
  color: blueviolet;
  font-weight: bold;
  padding-top: 5%;
  font-family: "Abril Fatface", Georgia, 'Times New Roman', Times, serif, cursive;
}

h2{
  color: blueviolet;
  font-size: x-large;
  font-weight: bold;
  padding: 5% 2% 0px 2%;
}

h3{
  color: blueviolet;
  font-size: large;
  font-weight: bold;
  padding: 2%;
}

div{
  padding: 2%;
}

p{
  padding: 0px 3% 0px 3%;
}

img {
  border: 2px rgb(255, 255, 255) dashed;
  /* box-shadow: 5 px black; */
  width: 50%;
  margin: 3%;
  padding: 1%;
  border-radius: 10px;
}

dl {
  padding-top: 3%;
}

#home-image{
  width: 90%;
  animation-name: home;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes home {
  from{opacity: 0;}
  to {opacity: 1;}
}

@media (prefers-reduced-motion) {
  #home-image{
    animation: none;
  }
}

dt{
  color: rgb(45, 15, 73);
  font-weight: bold;
}

li{
  display: inline;
  padding: 5%;
}

/* .headShots {
  padding: 5px;
  border: 1px burlywood dashed;
  box-shadow: 1 px black;
} */

.active{
  padding: 4px;
  background-color: rgb(182, 225, 252);
  border: 4px darkturquoise groove;
  text-decoration: underline dotted;
  color: rgb(26, 26, 255);
  font-weight: bold;
}

img:nth-of-type(even){
  border: dashed 2px rgb(126, 126, 126);
  width: 50%;
  margin: 3%;
  padding: 1%;
  border-radius: 10px;
}

body > main > div:nth-child(even) > img{
  border: dashed 2px rgb(126, 126, 126);
  width: 50%;
  margin: 3%;
  padding: 1%;
  border-radius: 10px;
}

main ul{
  display: flex;
  flex-direction: column;
}

main ul li {
  list-style-type: "-";
  margin: 2px;
  padding: 0px;
  padding-left: 5%;
}

footer {
  color: #696969;
}

body > footer > a {
  padding: 0px 3% 0px 3%;
}

.grid{
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 5%;
  border-radius: 25px;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 10px ;
}

.grid div{
  border: rgba(0, 0, 0, 0.3) 2px solid;
  border-radius: 25px;
  background-color: rgba(233, 231, 209, 0.758);
}

.accordion {
  background-color: #d8d4ba;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 2px;
}

.panel {
  padding-bottom: 3%;
  background-color: white;
  overflow: hidden;
}

main > dl > div > dd:nth-child(2) > p {
  margin-bottom: 30px;
}

.inactive{
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796";
}

@media screen and (max-width:600px) {
  body{
    background-color: antiquewhite;
    background-image: url('../images/background-pattern.jpg');
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3%;
  }

  body > header > nav > ul{
    display: flex;
    flex-wrap: wrap;
    line-height: 150%;
  }
  body > header > nav > ul > li {
    padding: 1%;
  }
  body > header > nav > ul > li > a {
    white-space: nowrap;
    padding: 0%;
  }
  .skip{
    padding: 2%;
    position: static;
  }
  .grid{
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 25px;
    grid-template-columns: 1fr;
    column-gap: 5%;
    row-gap: 10px ;
  }
  
}

@media screen and (min-width:600px) and (max-width:900px) {
  body > header > nav > ul{
    display: flex;
    flex-wrap: wrap;
    line-height: 150%;
    justify-content: flex-end;
  }
  body > header > nav > ul > li {
    padding: 1%;
  }
  body > header > nav > ul > li > a {
    white-space: nowrap;
    padding: 0%;
  }
  .skip{
    padding: 2%;
    position: static;
  }
  .grid{
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 25px;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 40px;
  }
  
}