body{
  background-color:antiquewhite;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

h1{
  font-size: xx-large;
  color: blueviolet;
  font-weight: bold;
  /* padding: 10px, 0, 10px, 0; */
}

h2{
  color: blueviolet;
  font-size: 110%;
  font-weight: bold;
}

p{
  padding: 10px

}

img {
  border: 1px yellow dashed;
  box-shadow: inset 1 px black;
}


dt{
  color: rgb(45, 15, 73);
  font-weight: bold;
}

footer{
  color: grey;
}

img.headShots {
  border: 1vm yellow dashed;
  box-shadow: inset 1 px black;
}